body {
    margin: 0;
    padding: 0;
    background-color: #3498db; /* Niebieskie tło */
    color: white; /* Biały kolor tekstu */
}

.container {
    text-align: center;
    margin-top: 200px;
}

h1 {
    font-size: 48px;
}
